# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenvs
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
STATIC_ROOT/

# Env files
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
